body{
  background-color: blue;
}

h1{
  margin-top:0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight:300;
  text-align: center;
}

li{
  list-style: none;
  margin-left: 0
}

.MyEducation{
  text-align: center;
}

ul{
  padding: 0
}

.MySkills{
  text-align: center;
}

.MyLikes{
  text-align: center;
}

.AbHGP{
  text-align: center;
}

.MyGames{
  text-align: center;
}

.ConMe{
  text-align: center;
}
